{% extends 'dashboard.html' %}
{% block content %}

<style>
  .gradient{background-image: linear-gradient(to right,#754edd ,#e2114f); }
</style>

<div class="col-md-12 col-xl-12 col-lg-12">
    <div class="card gradient"  >
        <div class="row">
            <div class="col-6 col-xs-12">
                <h3 class="p-0 m-1 ml-4 text-white">Books</h3>
            </div>
            <div class="col-6 col-xs-12">
                <button class="btn btn-primary float-right mt-1 p-2 mr-1" data-toggle="modal" data-target="#import-books"><i class="fa fa-download" aria-hidden="true"></i>&nbsp Import Books</button>

                <!-- Import Modal -->

                <div class="modal fade" id="import-books" tabindex="-1" role="dialog">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                      <div class="modal-header gradient">
                        <h5 class="modal-title text-white">Import Books</h5>
                        <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      
                      <form method="POST" action="{{url_for('admin.import_books')}}">
                          <div class="modal-body">
                            
                            <div class="form-group">
                              <label for="noofbooks">Number of Books <span style="color:red;">*</span></label>
                              <input type="number" name="noofbooks" class="form-control border border-primary" id="noofbooks" min="1" required>
                            </div>
                            
                            <div class="form-group">
                              <span>Import Books Using ↓</span>
                            </div>
                            
                            <div class="form-group">
                              <input type="text" name="title" class="form-control border border-primary" id="title" placeholder="Book Title">
                            </div>

                            <div class="form-group">
                              <input type="text" name="author" class="form-control border border-primary" id="author" placeholder="Author">
                            </div>

                            <div class="form-group">
                              <input type="text" name="isbn" class="form-control border border-primary" id="isbn" placeholder="ISBN">
                            </div>

                            <div class="form-group">
                              <input type="text" name="publisher" class="form-control border border-primary" id="publisher" placeholder="Publisher">
                            </div>
                            
                          </div>

                          <div class="modal-footer">
                            <button type="reset" class="btn btn-danger">Reset</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                          </div>
                      </form>
                    </div>
                  </div>
                </div>

                <!-- Import Modal End -->

            </div>
        </div>
    </div>

    <br/><br/>

    <div class="row">
        <div class="col-12">
            <table class="table table-bordered table-striped table-hover">
 
                <thead class="table-dark gradient">
               
                  <tr>
               
                    <th>Book ID</th>
                    <th>Book Title</th>
                    <th>Author</th>
                    <th>Rating</th>
                    <th>Language</th>
                    <th>Publication Date</th>
                    <th>Publisher</th>
                    <th>Stock</th>
                    <th>Update</th>
                    <th>Delete</th>

               
                  </tr>
               
                </thead>
               
                <tbody class="text-center">
                
                {% for x in testquery%}
                  <tr>
               
                    <th scope="row">{{ x['bookID']}}</th>
                    <td>{{ x['title']}}</td>
                    <td>{{ x['authors']}}</td>
                    <td>{{ x['average_rating']}}</td>
                    <td>{{ x['language_code']}}</td>
                    <td>{{ x['publication_date']}}</td>
                    <td>{{ x['publisher']}}</td>
                    <td>{{ x['isbn']}}</td>
                    <td><button class="btn btn-success rounded-lg"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button></td>
                    <td><button class="btn btn-danger rounded-lg" data-toggle="modal" data-target="#delete-book"><i class="fa fa-trash" aria-hidden="true"></i></button></td>
                  </tr>
                {% endfor %}
               
                </tbody>
               
            </table>

            <!-- Delete Modal -->
            
            <div class="modal fade" id="delete-book" tabindex="-1" role="dialog">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header gradient">
                    <h5 class="modal-title text-white">Delete Confirmation!</h5>
                    <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  
                  <form method="POST" action="">
                    <div class="modal-body">
                      <div class="row">
                        <div class="col-12">
                          <h5 class="danger" style="color:red;">Are you sure you want to delete this book?</h5>
                        </div>
                      </div>                     
                    </div>

                    <div class="modal-footer">
                      <button type="button" class="btn btn-primary">No</button>
                      <button type="button" class="btn btn-danger">Yes</button>
                    </div>

                  </form>
                </div>
              </div>
            </div>
            

            <!-- Delete Modal End -->

        </div>
    </div>
    
    <!-- <p>{{testquery}}</p> -->


</div>



{% endblock %}